.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-container{
    display: grid;
    width: 700px;
    height: 700px;
    margin: auto;
}
.resize-grid{
    text-align: center;
    margin: 50px 0px 30px 0px;    
}
.resize-grid label {
    font-size: 16px;
}
.resize-grid input{
    text-align: center;
    width: 50px;
    margin-right: 20px;
}
#resize-btn, #clear-btn{
    background-color: rgb(0, 116, 217);
    border: 1px solid rgb(124, 123, 123);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#clear-btn{
    background-color: rgb(90, 98, 104);
}
.grid-item{
    background-color: rgb(240, 244, 248);
    border: thin solid rgba(156, 155, 155, 0.1);
}
input#on, input#off{
    outline: none;
    margin: 0 -15px 0 -10px;
    vertical-align: middle;
}
#radio-text{
    margin-left: 10px;
}
.color-div{
    margin-top: 25px;
}