.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 500px;
    height: 500px;
    margin: auto;
}
.resize-grid{
    text-align: center;
    margin: 50px 0px 30px 0px;
}
.resize-grid input{
    text-align: center;
    width: 50px;
    margin-right: 20px;
}
.resize-btn{
    
}
.grid-item{
    background-color:gray;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.paint{
    background-color: pink;
}