.grid-container{
    display: grid;
    grid-template-columns: repeat(16, auto);
}
.grid-item{
    background-color:gray;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.paint{
    background-color: pink;
}